.home {
  @include background-2x( '../images/billboard', 'jpg', 1800px, auto, 10% 0, no-repeat );
  @include media-breakpoint-up(md) {
    background-position: top center;
  }

}

#billboard {
  display: flex;
  margin-top: rem-calc(40);
  height: rem-calc(400);
  justify-content: center;
  @include media-breakpoint-up(md) {
    height: rem-calc(500);
  }
  @include make-container();
  @include make-container-max-widths();
  .inner {
    width: 100%;
    @include make-row();
    &> div {
      @include make-col(12);
      display: flex;
      flex-direction: column;
    }
  }
  h1 {
    width: 100%;
    height: rem-calc(100);
    background-image: url('https://www.sovaldi.com/sof/sovaldi-com/v2_1/img/m-home-headline.svg');
    background-size: rem-calc(300) rem-calc(100);
    background-position: top center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.2));
    @include media-breakpoint-up(sm) {
      background-size: rem-calc(400) rem-calc(150);
      height: rem-calc(150);
    }
    @include media-breakpoint-up(md) {
      background-size: rem-calc(533) rem-calc(200);
      height: rem-calc(200);

    }
  }
  a {
    margin: 0 auto;
    width: 100%;
    max-width: rem-calc(150);
    @include media-breakpoint-up(xs) {
      max-width: rem-calc(200);
    }
  }
}

body:not(.home) {
  header {
    @include background-2x( '../images/billboard', 'jpg', auto, auto, 10% 20%, no-repeat );
    min-height: 180px;
  }
  .entry-content {
    margin-top: 3rem;
  }
  .entry-title {
    color: $primary;
    margin-bottom: 1rem;
  }
}