#preface {
  @include make-container();
  background-color: $primary;
  color: $white;
  font-weight: $font-weight-bold;
  padding: rem-calc(25) rem-calc(45);
  .inner {
    @include make-row();
    &> div {
      @include make-col(12);
    }
  }
  p {
    @include font-size(20px);
  }
}