#utility {
  .inner {
    @include make-row();
    align-items: center;
    @include fontSize(14px);
    color: $primary;
    &> div {
      top: rem-calc(-1);
      @include make-col-ready();
      @include make-col(12);
      ul {
        justify-content: center;
        @include media-breakpoint-up(lg) {
          justify-content: flex-end;
        }
        li {
          &:not(:first-child)::before {
            content: " | ";
            margin-right: rem-calc(-2);
            color: $primary;
          }
          a {
            display: inline-block;
            color: $primary;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
          }
          &.active, &.current-page-ancestor {
            &> a {
              &:after {
                content: '';
                display: block;
                margin-bottom: rem-calc(-8);
                margin-left: rem-calc(-10);
                margin-right: rem-calc(-10);
                margin-top: 0;
                border-bottom: 6px solid $primary;
              }
            }
          }
        }
      }
    }
  }
}