// FORM

.form {

	#contact-form {
    max-width: 1200px;
    transition: all 0.56s cubic-bezier(0.25, 0.8, 0.25, 1);

    .form-group{
      position: relative;
      margin-top: 2.25rem;
      margin-bottom: 2.25rem;
    }

    .form-element-bar {
      position: relative;
      height: 1px;
      background: #999;
      display: block;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #337ab7;
        height: 2px;
        display: block;
        transform: rotateY(90deg);
        transition: transform 0.28s ease;
        will-change: transform;
      }
    }
    .form-label {
      position: absolute;
      top: 0.75rem;
      line-height: 1.5rem;
      pointer-events: none;
      padding-left: 0.125rem;
      z-index: 1;
      font-size: 1rem;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      color: #a6a6a6;
      transform: translateY(-50%);
      transform-origin: left center;
      transition: transform 0.28s ease, color 0.28s linear, opacity 0.28s linear;
      will-change: transform, color, opacity;
    }

    .form-control {
      outline: none;
      height: 1.5rem;
      display: block;
      background: none;
      padding: 0.125rem 0.125rem 0.0625rem;
      font-size: 1rem;
      border: 0 solid transparent;
      line-height: 1.5;
      width: 100%;
      color: #333;
      box-shadow: none;
      opacity: 0.001;
      transition: opacity 0.28s ease;
      will-change: opacity;
      &::placeholder {
        color: #a6a6a6;
        transform: scale(0.9);
        transform-origin: left top;
      }
    }

    .form-control:focus ~ .form-element-bar::after {
      transform: rotateY(0deg);
    }

    .form-control:focus ~ .form-label {
      color: $primary;
    }

    .form-control.-hasvalue,
    .form-control:focus {
      opacity: 1;
    }

    .form-control.-hasvalue ~ .form-label,
    .form-control:focus ~ .form-label {
      transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
      cursor: pointer;
      pointer-events: auto;
    }

    .form-control:not(:placeholder-shown),
    textarea:not(:placeholder-shown) {
      opacity: 1;
    }

    input.form-control:not(:placeholder-shown) ~ .form-label {
      transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
      cursor: pointer;
      pointer-events: auto;
    }

    select#inputState {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    .form-select-placeholder {
      color: #a6a6a6;
      display: none;
    }
    
    .form-select .form-element-bar::before {
      content: "";
      position: absolute;
      height: 0.5em;
      width: 0.5em;
      border-bottom: 1px solid #999;
      border-right: 1px solid #999;
      display: block;
      right: 0.5em;
      bottom: 0;
      transition: transform 0.28s ease;
      transform: translateY(-100%) rotateX(0deg) rotate(45deg);
      will-change: transform;
    }
    
    .form-select select:focus ~ .form-element-bar::before {
      transform: translateY(-50%) rotateX(180deg) rotate(45deg);
    }

    .hidden {
      display: none;
    }

    .error {
      color: $danger;
    }

    .form-checkbox,
    .form-radio {
      position: relative;
      margin-top: 2.25rem;
      margin-bottom: 2.25rem;
      text-align: left;
    }

    .form-checkbox-label,
    .form-radio-label {
      position: relative;
      cursor: pointer;
      // padding-left: 1.5rem;
      text-align: left;
      color: #333;
      display: block;
      margin-bottom: 0.5rem;
    }

    .form-checkbox-label:hover i,
    .form-radio-label:hover i {
      color: #337ab7;
    }

    .form-checkbox-label span,
    .form-radio-label span {
      display: block;
      padding-left: 1.5rem;
    }

    .form-checkbox input,
    .form-radio input {
      width: auto;
      opacity: 0.0001;
      position: absolute;
      left: 0.25rem;
      top: 0.25rem;
      margin: 0;
      padding: 0;
    }

    .form-checkbox-button {
      position: absolute;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
      color: #999;
      left: 0;
      top: 0.25rem;
      width: 1rem;
      height: 1rem;
      z-index: 0;
      border: 0.125rem solid currentColor;
      border-radius: 0.0625rem;
      transition: color 0.28s ease;
      will-change: color;
    }
    
    .form-checkbox-button::before,
    .form-checkbox-button::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #337ab7;
      display: block;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: "";
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0;
      will-change: opacity, height;
    }
    
    .form-checkbox-button::before {
      top: 0.65rem;
      left: 0.38rem;
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625rem #fff;
    }
    
    .form-checkbox-button::after {
      top: 0.3rem;
      left: 0;
      transform: rotate(-45deg);
    }

    .form-checkbox-input:checked + .form-checkbox-label > .form-checkbox-button {
      color: #337ab7;
    }
    
    .form-checkbox-input:checked + .form-checkbox-label > .form-checkbox-button::after,
    .form-checkbox-input:checked + .form-checkbox-label > .form-checkbox-button::before {
      opacity: 1;
      transition: height 0.28s ease;
    }
    
    .form-checkbox-input:checked + .form-checkbox-label > .form-checkbox-button::after {
      height: 0.5rem;
    }
    
    .form-checkbox-input:checked + .form-checkbox-label > .form-checkbox-button::before {
      height: 1.2rem;
      transition-delay: 0.28s;
    }
	}

}




